

@import '_variables';
@import '_mixins'; 

.userPart {
  @include flex-container(row, flex-end);
  padding: 10px 25px;

  &__text {
    @include responsive-font(14px); 
    color: $color11;
    line-height: 18px;
  }
}

.userresponse {
  @include flex-container(column, flex-end, flex-end); 
  padding: 0 25px 12px;

  &__label{
    font-size: 14px;
    margin-right: 10px; 
    margin-bottom: 7px;
  }

  &__text {
    @include rounded-corners(20px); 
    background-color: $color12;
    color: $color2;
    @include responsive-font(14px); 
    line-height: 20px;
    border-bottom-right-radius: 5px; 
    padding: 15px 17px;
  }
}
