$color1: #000;
$color2: #fff;
$color3: rgb(105, 222, 64);
$color4: rgb(155, 166, 179);
$color5: rgb(234, 238, 243);
$color6: rgb(234, 234 ,234);
$color7: rgb(150, 155, 166);
$color8: rgb(238, 238, 238);
$color9: rgb(249, 249, 249);
$color10: rgb(18, 91, 251);
$color11: rgb(24, 25, 25);
$color12: rgb(0, 102, 255);
$color13: #ff2b00;