.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 15vh;
  border-bottom: 1px solid rgb(234, 238, 243);
}
.navigation .nav-container {
  margin-top: 20px;
  display: flex;
  padding: 0 10px;
  gap: 65%;
}
.navigation .nav-container .left-nav {
  display: flex;
  gap: 10%;
}
.navigation .nav-container .left-nav img {
  margin-top: 10px;
}
.navigation .nav-container .left-nav p {
  display: flex;
  gap: 2px;
  font-weight: bold;
  line-height: 23px;
}
.navigation .nav-container .left-nav p:hover {
  cursor: pointer;
}
.navigation .nav-container .left-nav .nav-links {
  display: flex;
  gap: 15%;
  margin-top: 14px;
}
.navigation .nav-container .right-nav {
  display: flex;
  gap: 3vw;
}
.navigation .nav-container .right-nav button {
  width: 6vw;
  height: 6vh;
  background-color: #fff;
  color: #000;
  font-weight: 300;
  border: 2px solid #000;
  border-radius: 4px;
}
.navigation .nav-container .right-nav button:hover {
  cursor: pointer;
}
.navigation .nav-container .right-nav .signup {
  background-color: orangered;
  color: #000;
  font-weight: 600;
  width: 12vw;
  height: 34px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  padding-top: 7px;
}
.navigation .nav-container .right-nav .signup:hover {
  cursor: pointer;
}

.userPart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 25px;
}
.userPart__text {
  font-size: 14px;
  color: rgb(24, 25, 25);
  line-height: 18px;
}

.userresponse {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 0 25px 12px;
}
.userresponse__label {
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 7px;
}
.userresponse__text {
  border-radius: 20px;
  background-color: rgb(0, 102, 255);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border-bottom-right-radius: 5px;
  padding: 15px 17px;
}

.chatbox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.chatbox__header {
  background-color: #fff;
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  flex-wrap: nowrap;
  padding: 23px 24px;
}
.chatbox__close {
  position: absolute;
  top: 18px;
  right: 18px;
}
.chatbox__close--container {
  width: 20px;
  height: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.chatbox__close--container:hover {
  opacity: 0.8;
}
.chatbox__avatar {
  width: 60px;
  height: 60px;
  margin-right: 22px;
}
.chatbox__avatar--container {
  width: 100%;
  height: 100%;
  position: relative;
}
.chatbox__avatar--status {
  height: 16%;
  width: 16%;
  background-color: rgb(105, 222, 64);
  border: 1px solid #fff;
  position: absolute;
  bottom: 7%;
  right: 7%;
  border-radius: 50%;
}
.chatbox__avatar--dp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.chatbox__avatar--image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chatbox__company--heading {
  font-size: 24px;
  font-weight: 600;
}
.chatbox__company--status {
  color: rgb(155, 166, 179);
  line-height: 19px;
}
.chatbox__conversation {
  height: 345px;
  overflow-y: scroll;
  width: 100%;
  background-color: rgb(234, 238, 243);
}
.chatbox__conversation::before {
  content: "";
  display: block;
  height: 20px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.04), transparent);
}
.chatbox__message {
  background-color: #fff;
  border-top: 1px solid rgb(234, 234, 234);
  height: 50px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.chatbox__message--input {
  font-size: 16px;
  line-height: 20px;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  border: 0;
  outline: none;
  caret-color: rgb(150, 155, 166);
  background-color: #fff;
}
.chatbox__message--input::-moz-placeholder {
  color: rgb(150, 155, 166);
}
.chatbox__message--input::placeholder {
  color: rgb(150, 155, 166);
}
.chatbox__message--send {
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: all 0.3s;
}
.chatbox__message--send:hover {
  cursor: pointer;
}
.chatbox .footer {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-top: 1px solid rgb(238, 238, 238);
  background-color: rgb(249, 249, 249);
  height: 35px;
}
.chatbox .footer .text {
  color: rgb(155, 166, 179);
}
.chatbox .footer .link {
  text-decoration: none;
  color: rgb(18, 91, 251);
}

.answer {
  padding: 10px 25px;
}
.answer__container {
  display: flex;
  align-items: center;
}
.answer__avatar {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-right: 6px;
  overflow: hidden;
}
.answer__avatar--content {
  height: 100%;
  width: 100%;
}
.answer__avatar--image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.answer__text {
  color: rgb(24, 25, 25);
  font-size: 14px;
  line-height: 18px;
}

.botresponse {
  padding: 0 25px 10px;
}
.botresponse__label {
  padding: 10px 17px;
  font-size: 14px;
  line-height: 18px;
}
.botresponse__label img {
  border-radius: 50%;
  width: 18px;
  margin-right: 7px;
  height: 18px;
}
.botresponse__text {
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 5px;
  padding: 15px 17px;
  display: inline-block;
}

.botquestion {
  padding: 0 25px 10px;
}
.botquestion__text {
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  border-top-left-radius: 5px;
  padding: 15px 17px;
  display: inline-block;
}
.botquestion__replies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
.botquestion__replies--text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin: 4px;
  height: 32px;
  border: 1px solid rgb(0, 102, 255);
  color: rgb(0, 102, 255);
  background-color: #fff;
  border-radius: 16px;
  padding: 0 16px;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.botquestion__replies--text:hover {
  opacity: 0.8;
}

.welcome {
  width: 240px;
  margin: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  transition: all 0.3s;
}
.welcome__close {
  margin-bottom: 10px;
}
.welcome__close--icon {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  width: 20px;
  height: 20px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 4px;
}
.welcome__text {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, opacity 0.3s;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
  line-height: 22px;
  text-align: left;
  word-wrap: break-word;
}

.opened {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 410px;
  height: 569px;
  transform: translateY(100%);
  transition: all 0.3s;
}
.opened__container {
  width: 370px;
  height: 530px;
  margin: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
}

.openBtn {
  transform: translateY(0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.answer {
  padding: 10px 25px;
}
.answer__container {
  display: flex;
  align-items: center;
}
.answer__avatar {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-right: 6px;
  overflow: hidden;
}
.answer__avatar--content {
  height: 100%;
  width: 100%;
}
.answer__avatar--image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.answer__text {
  color: rgb(24, 25, 25);
  font-size: 14px;
  line-height: 18px;
}

.replies-hide {
  display: Falsene;
}

.start {
  text-align: center;
  padding: 10px 0;
}
.start__btn {
  background-color: rgb(0, 102, 255);
  color: #fff;
  border: 0;
  outline: Falsene;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
}
.start__btn:hover {
  opacity: 0.8;
}

.right-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 280px;
  height: 224px;
  z-index: 1000;
  transition: all 0.3s;
}
.right-bottom .closed__container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.right-bottom .closed__container:hover .welcome__close--icon {
  opacity: 1;
}

.hideBtn {
  transform: translateY(100%);
}

.img {
  width: 60px;
  position: fixed;
  bottom: 1%;
  height: 60px;
  border-radius: 100%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06);
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}
.img__container {
  height: 100%;
  width: 100%;
}
.img__container--image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img__container:hover .img__container--image {
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */