@import "_variables";
@import "_header";
@import '_userReplies';
@import "_chatbot";
@import "_botQueries";
@import "_welcome";
@import "_openedChat";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.answer {
  padding: 10px 25px;
  &__container {
    display: flex;
    align-items: center;
  }
  &__avatar {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    margin-right: 6px;
    overflow: hidden;
    &--content {
      height: 100%;
      width: 100%;
    }
    &--image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__text {
    color: $color11;
    font-size: 14px;
    line-height: 18px;
  }
}

.replies-hide {
  display: Falsene;
}



.start {
  text-align: center;
  padding: 10px 0;
  &__btn {
    background-color: $color12;
    color: $color2;
    border: 0;
    outline: Falsene;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  &__btn:hover {
    opacity: 0.8;
  }
}

.right-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 280px;
  height: 224px;
  z-index: 1000;
  transition: all 0.3s;
  .closed__container {
    display: flex;
    flex-direction: column;
    align-items: end; 
    &:hover .welcome__close--icon{
      opacity: 1;
    }
  }
}

.hideBtn {
  transform: translateY(100%);
}

.img {
  width: 60px;
  position: fixed;
  bottom: 1%;
  height: 60px;
  border-radius: 100%;
  box-shadow: 0 0 50px 0 rgba($color1, 0.06);
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  &__container {
    height: 100%;
    width: 100%;
    &--image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__container:hover &__container--image {
    opacity: 0.8;
  }
}

// .welcome {
//   // background: #000;
//   width: 240px;
//   margin: 20px;
//   margin-bottom: 0;
//   display: flex;
//   flex-direction: column;
//   align-items: end;
//   transition: all 0.3s;
//   &__close {
//       margin-bottom: 10px;
//       &--icon {
//         background-color: rgba(0, 0, 0, 0.4);
//         opacity: 0;
//         width: 20px;
//         height: 20px;
//         padding: 2px;
//         cursor: pointer;
//         transition: all 0.3s;
//         border-radius: 100%;
//         color: #fff;
//         font-size: 12px;
//         text-align: center;
//         padding-top: 4px;
//       }
//   }
//   &__text {
    

//     background-color: #fff;
//     color: #000;
//     font-size: 16px;
//     border-radius: 6px;
//     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
//     transition: box-shadow 0.3s, opacity 0.3s;
//     cursor: pointer;
//     padding: 15px 20px;
//     width: 100%;
//     line-height: 22px;
//     text-align: left;
//     word-wrap: break-word;

//   }
// }



